<%- include('./partial/header.ejs') %>
<%- include('./partial/menu.ejs') %>

<div class="container-fluid">
    <h1>Makan Yuk's</h1>
    <p>Lorem ipsum sir dolor amet</p> 
</div>


<%- include('./partial/footer.ejs') %>