<%- include('./partial/header.ejs') %>

<div class="container">

  <div class="row">
    <div class="col-sm-4"></div>
      <div class="col-sm-4 pad-top100">
        <center><a class="btn btn-primary" href="/login">LOGIN</a></center>
        <br>
        <center><a class="btn btn-danger" href="/signup">REGISTER</a></center>
      </div>
      <div class="col-sm-4"></div>
  </div>
    
</div>

