<%- include('./partial/header.ejs') %>

<div class="container">
<h1>Makan Bang..<h1>
<h2>Point of Sales<h2>
<h3>Solusi Masalah di Resto Anda</h3>
  <div class="row">
    <div class="col-sm-4"></div>
      <div class="col-sm-4 pad-top100">
        <br><br><br><br><br><br><br><br>
        <h1>Makan Bang!</h1><br>
        <center><a class="btn btn-primary btn-block btn-lg" href="/login">LOGIN</a></center>
        <br>
        <center><a class="btn btn-danger btn-block btn-lg" href="/signup">REGISTER</a></center>
      </div>
      <div class="col-sm-4"></div>
  </div>

</div>
