<%- include('./partial/header.ejs') %>
<%- include('./partial/menu.ejs') %>

<div class="container">

    <h2>Makan Yuk</h2>
    <a href="/signup">Sign Up</a>
    <h3>Login</h3>
    <%if(err.err!=undefined){%>
    <p style="color:red"><%=err.err%></p>
    <% } %>
    <form action="/login" method="post">
    Username:<br>
    <input name="username" type="text" required placeholder="Username"><br>
    Password:<br>
    <input name="password" type="password" required placeholder="Password"><br>
    <input type="submit" value="Login">


    </form>
