<%- include('../partial/menu.ejs') %>

<h2>Form Add Menu</h2>
<form method="POST" action="/menus/add">
    <input type="text" name="name" placeholder="Nama menu.."><br><br>
    <input type="text" name="price" placeholder="Harga menu.."><br><br>
    <select name="jenis">
        <option value="makanan">makanan</option>
        <option value="minuman">minuman</option>
    </select>
    <input type="submit" value="Simpan">
</form>