<a href="/menus">Menu</a><br>

<h2>Form Add Menu</h2>
<form method="POST" action="/menus/add">
    <input type="text" name="name" placeholder="Nama menu.."><br><br>
    <input type="text" name="price" placeholder="Harga menu.."><br><br>
    <input type="submit" value="Simpan">
</form>