<%- include('../partial/header.ejs') %>
<%- include('../partial/menu.ejs') %>

<div class="container">

    <h2>Table Menu</h2>
    <% if(err != undefined){%>
    <p style="color:red"><%=err.err%></p>
    <% } %>

    <!-- <form method="POST" action="/menus/add">
        <input type="text" name="name" placeholder="Nama menu.."><br><br>
        <input type="text" name="price" placeholder="Harga menu.."><br><br>
        <select name="jenis">
            <option value="makanan">makanan</option>
            <option value="minuman">minuman</option>
        </select>
        <input type="submit" value="Simpan">
    </form> -->

    <form method="POST" action="/menus/add">
        <div class="form-group">
            <label for="name">Nama Menu:</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="form-group">
            <label for="price">Harga Menu:</label>
            <input type="text" class="form-control" name="price" id="price">
        </div>
        <div class="form-group">
            <label for="sel1">Jenis:</label>
            <select class="form-control" name="jenis" id="sel1">
                <option value="makanan">makanan</option>
                <option value="minuman">minuman</option>
            </select>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>

</div>

<%- include('../partial/footer.ejs') %>
