<a href="/menus">Menu</a><br>


<h2>Form Edit Menu</h2>
<form method="POST" action="/menus/edit/<%= data.id %>">
    <input value="<%= data.name %>" type="text" name="name" placeholder="Nama menu.."><br><br>
    <input value="<%= data.price %>" type="text" name="price" placeholder="Harga menu.."><br><br>
    <input type="submit" value="Simpan">
</form>