<%- include('../partial/menu.ejs') %>

<table border="1">
    <thead>
        <th>No Meja</th>
        <th>Menu</th>
        <th>Quantity</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>
                <ul>
                    <li>Kepiting Saus Padang</li>
                    <li>Udang Bakar Saus Madu</li>
                    <li>Nasi Goreng Kambing</li>
                    <li>Gurame Bakar</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>2</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                </ul>
            </td>
            <td>DONE</td>
        </tr>
    </tbody>
</table>