<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> 
        <title>Makan Bang</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/css/style.css">
        <style>
            ul { list-style-type: none; }
            .custom-table{
                height: 150px;
                margin-bottom: 30px;
            }
            body {
                background-image: url("./../public/images/healthy-food-wallpaper.png");
                /* background-color: #cccccc; */
            }
        </style>
    </head>
    <body>