<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">MakanYuk</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/menus">Menu</a></li>
            <li><a href="/pesanan">Pesan</a></li>
            <li><a href="/kasir">Kasir</a></li>
            <li><a href="/dapur">Dapur</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>
