<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/Menus">Menu</a></li>
    <li><a href="/Pesanan">Pesan</a></li>
    <li><a href="/xxx">Kasir</a></li>
    <li><a href="/xxx">Dapur</a></li>
</ul>