<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/menus">Menu</a></li>
    <li><a href="/pesanan">Pesan</a></li>
    <li><a href="/kasir">Kasir</a></li>
    <li><a href="/dapur">Dapur</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>
